<div data-ng-include src="'view/core/navBar.html'"></div>
<div id="page-wrapper" data-ng-controller="HomeCtrl" class="bg-white">
	<br /> <br />
	<header class="jumbotron hero-spacer well">
		<h2 class="text-primary">
			<strong>Welcome to EPA/OEI Environmental Digital Services</strong>
			
		</h2>
		<p class="sponsoring-text">Brought to you by <a href='http://www.ttsiglobal.com/'>Trillion Technology Solutions, Inc</a> </p>

		<p style="text-align:center">
			This prototype provides a graphical interface to <a href="http://www.waterqualitydata.us/">Water Quality Data Portal (WQP)</a>, using <a href="http://waterdata.usgs.gov/nwis">USGS NWIS</a> 
			and <a href="http://www3.epa.gov/storet/">USEPA STORET</a>  publicly available  
			databases.
			This interface provides an insight to the national water quality by making available the following information:
			<ul>
				<li>Percentage samples found with Lead amounts above 15 ug/L for each US State</li>
			</ul>
			
		</p>
	</header>
	
	

	<hr/>
	
	<div style="text-align:center" data-ng-click="goTo('wqc/lead')">
	<p>(Click below)</p>
		<a class="btn btn-lg btn-primary" href="javascript:void(0);">
	  	<i class="fa fa-bar-chart fa-2x pull-left"></i>Explore WQC </a>
  </div>

</div>